<H1> Edit selected file: <%=@file%></h1>
  <%=@gg%>

  <form action="/locales/find" method="get">
    <input type="hidden" value="<%=@file%>" name='locale_file'>
    <input style="width: 400px" type="text" name="search_phrase" placeholder="Put needed key or value phrase or partial in <%=@file%>">
    <input type="submit" value="SEARCH">
  </form>

You're lookin for : <%=@search_phrase%>
<hr/>
<%= form_for (@file), url: { action: 'create', controller: 'locales' }, :authenticity_token => true do |s| %>
<!--<form action="/locales/create" id="update" method="post">-->
  <input type="submit" value="SAVE" class="save_btn" style="font-weight: bold; font-size: 120%">
  <!--wyszukiwanie po klucz u i po wartości-->
  <%=
  @previous_parent = ""
  number_of_px = 0;
  @file_lines.each do |line|%>
    <%if(line['value'].class!=Hash)
      if(line['parent']!=@previous_parent)
        %>
      </ul>
        <div class="parent_node">parent node: <%=line['parent_key']%> </div>
        <ul style="display: block; clean: both">
      <%end
      @previous_parent = line['parent']
      %>
      <li class="value" style="">
        <input type="hidden" value="<%=line['id']%>" name="lines[]id">
        <input type="hidden" value="<%=line['key']%>" name="lines[]key">
        <div class="key" style="font-weight: bold"><%=line['id']%>: <%=line['key']%></div>
         <%endline=""
          if(line['value'].class==String)
            endline=line['value']
          else
            endline=line['value']
          end%>
          <textarea cols="40" rows="3" style="font-size: 100%;" name="lines[]value"><%=endline.squish!%></textarea>
      </li>
    <%end #end of "if" checking Hash%>
  <%end%>
</form>
<%end%>
