
<div class="navbar sticky-top" style="box-shadow: 0 4px 2px -2px silver;
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0;
    background-color: white;">
<h2> <%=link_to "<= Back To Filelist ", root_path, class: "btn btn-primary"%> You're editing file: <%=@file%></h2>
<form action="/locales/find" method="get" >
    <input type="hidden" value="<%=@file%>" name='locale_file'>
    <div class="input-group d-inline-block">
    <input style="width: 400px" class="form-control" type="text" name="search_phrase" placeholder="Put needed key or value phrase or partial in <%=@file%>"
    <% if(@search_phrase!="")%>
        value="<%=@search_phrase%>"
    <%end%>
    >
    <input type="submit" value="SEARCH" class="btn btn-primary input-group-append">
  </div>
  </form>
<%= form_for (@file), url: { action: 'create', controller: 'locales' }, :authenticity_token => true do |s| %>

    <input type="hidden" value="<%=@file%>" name='id'>
    <input type="submit" value="SAVE CHANGES" class="btn btn-danger" style="font-weight: bold; font-size: 120%; float: right">
  </div>
  <!--wyszukiwanie po klucz u i po wartości-->
  <%=
  @previous_parent = ""
  number_of_px = 0;
  @file_lines.each do |line|%>
    <%if(line['value'].class!=Hash)
      if(line['parent']!=@previous_parent)
        %>
      </ul>
        <div class="parent_node">parent node: <%=line['parent_key']%> </div>
        <ul style="display: block; clean: both">
      <%end
      @previous_parent = line['parent']
      %>
      <li class="value" style="">
        <input type="hidden" value="<%=line['id']%>" name="lines[]id">
        <input type="hidden" value="<%=line['key']%>" name="lines[]key">
        <div class="key" style="font-weight: bold"><%=line['id']%>: <%=line['key']%></div>
         <%endline=""
          if(line['value'].class==String)
            endline=line['value']
          else
            endline=line['value']
          end%>
          <textarea cols="40" rows="3" style="font-size: 100%;" class="form-control shadow-textarea" name="lines[]value"><%=endline%></textarea>
      </li>
    <%end #end of "if" checking Hash%>
  <%end%>
  <%=will_paginate @file_lines, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>
<!--</form>-->
<%end%>
